# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Distribution
dist/
build/
*.egg-info/

# Certificates (se generarán en fase de seguridad)
certs/
*.pem
*.key
*.crt